
@{
    ViewBag.Title = "All";
}

<h2>Все курсы</h2>
<div class="row">
	@foreach (var course in ViewBag.All)
	{
		<div>
			@Html.ActionLink(course.Title as string, "Course", "Course", new { id = course.CourseId }, new { })
			<p>@course.Duration</p>
		</div>
	}
</div>

