@{
    ViewBag.Title = "All";
}

<h2>Все курсы</h2>
<p>Вы можете выбрать любой курс из списка ниже. Чтобы перейти на страницу курса и ознакомиться с содержимым курса и его программой, нажмите на "Записаться на курс".</p>

<div class="row text-center">
	@foreach (var course in ViewBag.All)
	{
		<div class="col-md-3 col-sm-6 hero-feature all-item">
			<div class="thumbnail">
				<img src="@course.PicturePath" alt="">
				<div class="caption">
					<h3>@course.Title</h3>
					<p>@( (course.Description as string).Length < 102 ? (course.Description as string) : (course.Description as string).Substring(0, 102) + "...")</p>
					<p>
						@Html.ActionLink("Узнать подробнее", "Course", "Course", new { id = course.CourseId }, new { @class = "btn btn-primary" })
					</p>
				</div>
			</div>
		</div>
	}

	<!--fake data-->
	<div class="col-md-3 col-sm-6 hero-feature all-item">
		<div class="thumbnail">
			<img src="~/Content/TestCourse/test1.jpg" alt="">
			<div class="caption">
				<h3>Современная добывающая промышленность в мире</h3>
				<p>Пройдя этот курс, вы узнаете о текущем состоянии мировой добывающей промышленности, современных способах добычи.</p>
				<p>
					<a href="#" class="btn btn-primary">Узнать подробнее</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 hero-feature all-item">
		<div class="thumbnail">
			<img src="~/Content/TestCourse/test1.jpg" alt="">
			<div class="caption">
				<h3>Современная добывающая промышленность в мире</h3>
				<p>Пройдя этот курс, вы узнаете о текущем состоянии мировой добывающей промышленности, современных способах добычи.</p>
				<p>
					<a href="#" class="btn btn-primary">Узнать подробнее</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 hero-feature all-item">
		<div class="thumbnail">
			<img src="~/Content/TestCourse/test1.jpg" alt="">
			<div class="caption">
				<h3>Современная добывающая промышленность в мире</h3>
				<p>Пройдя этот курс, вы узнаете о текущем состоянии мировой добывающей промышленности, современных способах добычи.</p>
				<p>
					<a href="#" class="btn btn-primary">Узнать подробнее</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 hero-feature all-item">
		<div class="thumbnail">
			<img src="~/Content/TestCourse/test1.jpg" alt="">
			<div class="caption">
				<h3>Современная добывающая промышленность в мире</h3>
				<p>Пройдя этот курс, вы узнаете о текущем состоянии мировой добывающей промышленности, современных способах добычи.</p>
				<p>
					<a href="#" class="btn btn-primary">Узнать подробнее</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 hero-feature all-item">
		<div class="thumbnail">
			<img src="~/Content/TestCourse/test1.jpg" alt="">
			<div class="caption">
				<h3>Современная добывающая промышленность в мире</h3>
				<p>Пройдя этот курс, вы узнаете о текущем состоянии мировой добывающей промышленности, современных способах добычи.</p>
				<p>
					<a href="#" class="btn btn-primary">Узнать подробнее</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 hero-feature all-item">
		<div class="thumbnail">
			<img src="~/Content/TestCourse/test1.jpg" alt="">
			<div class="caption">
				<h3>Современная добывающая промышленность в мире</h3>
				<p>Пройдя этот курс, вы узнаете о текущем состоянии мировой добывающей промышленности, современных способах добычи.</p>
				<p>
					<a href="#" class="btn btn-primary">Узнать подробнее</a>
				</p>
			</div>
		</div>
	</div>
</div>
