@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
	Кудина Янина Олеговна<br />
	МГРИ-РГГРУ<br />
	Кафедра информатики и ГИС<br />
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:yaninkaolegovna@gmail.com">yaninkaolegovna@gmail.com</a><br />
</address>