body {
    padding-top: 54px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@media (min-width: 992px) {
	body {
		padding-top: 56px;
	}
}

.card {
	height: 100%;
}

.row.custom-row {
	margin-top: 40px;
	margin-bottom: 40px;
}

.row.text-center.custom-row {
	margin-top: 40px;
	margin-bottom: 40px;
}

.col-md-3.col-sm-6.hero-feature.all-item {
	margin-top:20px;
	margin-bottom: 20px;
}

h2.text-center.popular {
	margin-bottom: 20px;
	margin-top: 40px;
}

h2.popular {
	margin-bottom: 20px;
	margin-top: 40px;
}

.duration {
	color: darkred;
}

#chapters {
	background: mintcream;
	border-radius: 10px;
	padding-left: 30px;
}

#successful {
	background: #dff0d8;
	border-radius: 10px;
	padding-left: 20px;
}

#failed {
	background: #f2dede;
	border-radius: 10px;
	padding-left: 20px;
}

.navigation {

}

#next {
	float: right;
}