@{
    ViewBag.Title = "Users";
	int i = 0;
}

<h2>Все пользователи</h2>

<small>Информация о текущих пользователях сайта.</small>

<div class="row" style="margin-top: 20px">
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<td>#</td>
				<td><b>Имя пользователя</b></td>
				<td><b>Адрес электронной почты</b></td>
				<td><b>Подробнее</b></td>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in ViewBag.Users)
			{
				<tr>
					<td>@(++i)</td>
					<td>@user.UserName</td>
					<td>@user.Email</td>
					<td>@Html.ActionLink("Показать подробнее", "UserInfo", "Admin", new { id = user.Id }, new { })</td>
				</tr>
			}
		</tbody>
	</table>

</div>


